*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.background {
    height: auto;
    min-height: 100vh;
    background: linear-gradient(#FFF1D5, #B7EBF4);
}

header{
    text-align: center;
}

header > img{
    margin-top: 5%;
    width: 40%;
}

h1{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

/* FOOTER MOBILE */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040B1B;
    color: white;
    text-align: center;
}