*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #040B1B;
}

.background {
    height: auto;
    min-height: 100vh;
    background: linear-gradient(#FFF1D5, #B7EBF4);
}

header{
    text-align: center;
}

header > img{
    margin-top: 5%;
    width: 40%;
}

/* REGLAGE POLICE ET PARAGRAPHE */
h1{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    color: #040B1B;
}

.plage_blender {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 10%;
}

.paragraphe {
    padding: 0 5%;
    padding-bottom: 2rem;
}

.paragraphe h1 {
    margin-bottom: 1rem;
}

.m17{
    margin-top: 17.5%;
}

.quit_page{
    text-align: center;
    width: 90%;
    margin: 30% auto auto auto;
}

#cookies_auto{
    font-size: 10px;
    text-align: center;
}

#register{
    width: 90%;
    margin: 5% auto auto auto;
}

#ekip_name{
    width: 90%;
    margin: 5% auto auto auto;
    padding: 0 5%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #54BAF3;
}
.title_numero_indice {
    margin: 4rem 0;
}

#register_form{
    margin: 20% auto auto auto;
    text-align: center;
}

.total_indice {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

/* BUTTON */
.container_button {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.inscription_button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #54BAF3;
    color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* FOOTER MOBILE */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040B1B;
    color: white;
    text-align: center;
    padding: 1rem;
    gap: 1.5rem;
}

footer > img {
    width: 6rem;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > div > img {
    width: 10rem;
}