*{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    min-height: 100vh;
    background: linear-gradient(#FFF1D5, #B7EBF4);
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
}

header > img{
    margin-top: 5%;
    width: 40%;
}

h1{
    font-family: 'Cabin', sans-serif;
}